<aside class="w-64 h-screen bg-black flex flex-col p-5 text-sm text-gray-300">

  <div class="flex items-center mb-6">
    <i class="bx bxl-spotify text-3xl text-green-500 mr-2"></i>
    <h1 class="text-lg font-semibold text-white">Music</h1>
  </div>


  <div class="mb-6">
    <div class="flex items-center bg-zinc-800 rounded px-2">
      <i class="bx bx-search text-gray-400 mr-2 text-lg"></i>
      <input
        type="text"
        (input)="onSearchChange($event)"
        placeholder="Buscar artista o canción..."
        class="bg-transparent text-gray-300 text-sm outline-none w-full placeholder-gray-500 focus:placeholder-gray-400"
      />
    </div>
  </div>


  <nav class="flex flex-col space-y-3">
    <a href="#" class="flex items-center space-x-2 hover:text-white transition">
      <i class="bx bx-home-alt"></i>
      <span>Inicio</span>
    </a>
    <a href="#" class="flex items-center space-x-2 hover:text-white transition">
      <i class="bx bx-music"></i>
      <span>Novedades</span>
    </a>
    <a href="#" class="flex items-center space-x-2 hover:text-white transition">
      <i class="bx bx-list-ul"></i>
      <span>Playlist</span>
    </a>
  </nav>
</aside>
